.app-title {
  font-size: 24px;
  margin-right: 1em;
  cursor: pointer;
}

.menu-item {
  font-size: 18px;
  margin-left: 2em;
  cursor: pointer;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
