<mat-toolbar color="primary" class="app-navbar" >
  <span><img  src="../assets/bbv.png"  class="logo" (click)="navigateToHome()"></span>
  <a mat-button  routerLink="/matches" id="matchesLink">Matches</a>
  <a mat-button  routerLink="/rankings" id="rankingsLink">Rankings</a>
  <a mat-button  routerLink="/bets" id="betsLink">Bets</a>
  <a mat-button  routerLink="/scores" id="scoresLink">Scores</a>
  <span class="example-fill-remaining-space"></span>
  <a mat-button  routerLink="/login" id="loginLink">Login</a>
</mat-toolbar>
